/* **************** Reset CSS *************** */
/* Se definen variables para tipografica, tamaño de letra , color */

:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
}

/* Reseteo básico (solo la caja) para la etiqueta html */  /**/
html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit; /*Todos los documentes del html heredel el tamaño de la caja (box-sizing: );*/
}

body {
    margin: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* **************** Estilos para el menú de habuerguesa *************** */
.header {
    position: sticky; /*Hace que el header se comporte como si fuera fijo n la pantalla*/
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color)
}

.header h1{
    margin: 0 auto;
    text-align: center;
}

.section {
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;  /*Mínima altura entre las secciones*/
    text-align: center;
}

.panel {
    position: fixed;
    z-index: 998; /*Menor que al del boton*/
    top: 0;  /**Estirar el elemento en todas las direcciones **/
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--second-modal-color);
    /*Aparezca desde arriba*/
    transition: transform .3s ease;

    /**Arriba hacia abajo **/
    transform: translate(0, -100%);
    /**Abajo hacia arriba **/
    transform: translate(0, 100%);
    /**Derecha a izq **/
    transform: translate(0, -100%);
    /**Izq a derecha **/
    transform: translate(-100%, 0);
}

.panel.is-active{
    transform: translate(0,0);
}

.panel-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

.menu {
    width: inherit; /*Hereda de la clase padre*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu a {
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.menu a:hover {  /*Para una subclase del enlace a*/
    font-weight: bold;
    color: var(--second-color);
    background-color: var(--main-modal-color);
}

/************************************ Sección 1: Hora y Alamrma ***************************************/
.hora {
    visibility: hidden;
}